<div [formGroup]="form">
  <div class="form-group">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <select class="form-control" id="category" formControlName="name">
        <option>General Physician</option>
        <option>Pediatrician</option>
        <option>Surgeon</option>
        <option>Radiologist</option>
        <option>Neurologist</option>
        <option>Dentist</option>
        <option>Gynecologist</option>
        <option>Obstetrics</option>
        <option>Maternal & Fetal Medicine</option>
        <option>Optometrist</option>
      </select>
    </div>
  </div>
</div>
