<img src="../../../assets/images/gpassistance.png">
<div class="row intro-section">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h3>What is GP ASSISTANCE?</h3>
        GP Assistant is an automated online service for your local practice.
        This service allow you to see doctors availabilities,
        make appointments, wherever and at whatever time you want.
        You can also cancel appointments by following canceling policies.
        The service allow you securely and privately messaging your local GP,
        and see your medical records so that you can be aware of your health status.
        You also have the ability to modify your details so that your personal information is always uptodate.
        You can also manage your repeat prescription on this service.
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h3>What DOES IT OFFER?</h3>
        GP Assistant is an automated online service for your local practice. This service allow you
      to see doctors availabilities,
        make appointments, wherever and at whatever time you want. You can also cancel appointments
      by following canceling policies.

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h3>WHY SHOULD YOU USE IT?</h3>
        GP Assistant is an automated online service for your local practice.
      This service allow you to see doctors availabilities,
        make appointments, wherever and at whatever time you want. You can also cancel
      appointments by following canceling policies.

    </div>
</div>
<div class="row account_section">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>Services</h3>
      GP Assistant is an automated online service for your local practice.
      This service allow you to see doctors availabilities,
      make appointments, wherever and at whatever time you want. You can also cancel
      appointments by following canceling policies.
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>How to register</h3>
      GP Assistant is an automated online service for your local practice.
      This service allow you to see doctors availabilities,
      make appointments, wherever and at whatever time you want. You can also cancel
      appointments by following canceling policies.
    </div>

    <!--<div class="col-md-4 registration-block">
      <h3 class="brand-font">Create an Account</h3>
      <input class="btn btn-primary" type="button" value="Create Account" (click)="redirectToRegister()"/>
    </div>
    <div class="col-md-4 login-block">
      <h3 class="brand-font">Login</h3>
      <input class="btn btn-success" type="button" value="Login" (click)="redirectToLogin()"/>
    </div>-->
</div>
