 <div class="col-lg-12 col-md-12 col-sm-12 left-section">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <img src="../../../assets/images/gpassistant.png" style="width: 80%">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6">
      <h1 class="brand-name">GP ASSISTANCE</h1>
      <h3 class="brand-slogan">Automated System For Your Local GP</h3>
      <p>
        <span class="brand-name">GP Assistance</span> allow you to be in contact with your doctor 24h
        and know the status of your health at any
        given time.</p>
      <p>
        The services offered by <span class="brand-name">GP ASSISTANCE</span> are: online appointment booking and cancellation,
        automatics reminders for repeating prescriptions,
        secure messaging between patients and doctors, view medical reports and update personal information.
      </p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 right-section">
    <h3 style="text-align: center">Services</h3>
    <a routerLink="/appointment" class="list-item">
    <div class="list-group-item col-lg-4 col-md-4 col-sm-12 ">
    <h3 style="text-align: center">Appointment</h3>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../../assets/images/appointment.png" style="width: 6em; height: 6em">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h3>Make Appointment With a Doctor</h3>
    </div>
    </div>
    </a>
    <a routerLink="/details" class="list-item">
    <div class="list-group-item col-lg-4 col-md-4 col-sm-12">
      <h3 style="text-align: center">Medical History</h3>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="../../../assets/images/history.png" style="width: 6em; height: 6em">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h3>View Your Medical Report Written By Your Doctor</h3>
      </div>
    </div>
    </a>
    <a routerLink="/prescription" class="list-item">
    <div class="list-group-item col-lg-4 col-md-4 col-sm-12">
      <h3 style="text-align: center">Prescription Management</h3>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="../../../assets/images/reminder.png" style="width: 6em; height: 6em">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h3>Get Reminder for repeating medical prescriptions</h3>
      </div>
    </div>
    </a>
    <a routerLink="/contact_doctor" class="list-item">
    <div class="list-group-item col-lg-4 col-md-4 col-sm-12">
      <h3 style="text-align: center">Contact Doctor</h3>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="../../../assets/images/email.png" style="width: 6em; height: 6em">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h3>Talk to your doctor at any moment of the day</h3>
      </div>
    </div>
    </a>
  </div>
