.header{
  text-align: center;
  padding: 1%;
  margin-bottom: 5%;
  color: #A89447;
}
.submit-section{
  padding: 2%;
  margin-top: 2%;
}
.btn-success{
  margin-right: 5%;
  background-color: green;
  color: white;
  font-size: larger;
}
.jumbotron{
  background-color: black;
  color: #A89447;
}
label{
  font-size: larger;
  color: #A89447;
}
