<div class="col-lg-6 col-md-6 col-sm-12 col-md-offset-3 col-lg-offset-3">
  <h3 class="header">Provide Email</h3>

  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email <span class="glyphicon glyphicon-envelope"></span></label>
      <div>
        <input type="email" name="email" class="form-control" autocomplete="true" placeholder="email"
               formControlName="email" id="email"/>
        <ul class="help-block">
          <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">
            This field is required
          </li>
          <li *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength &&
         form.controls.email.dirty">
            minimum email length is 5 and maximum email length is 30
          </li>
          <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">
            invalid email address
          </li>
          <li *ngIf="emailMessage">{{ emailMessage }}</li>
        </ul>
      </div>
    </div>
    <input [disabled]="!form.valid || processing" class="btn btn-success form-control" type="submit"
           value="Submit" />

  </form>
</div>

